html 
    head 
        title Home Page 
        style 
            include home.css 
    body
     .links  
        a(href='/') Home
        a(href='/views/ContactUs') contactUs
        a(href='/views/OurServices') ourServices
    .app
       
        //- img(src="https://images.pexels.com/photos/4966172/pexels-photo-4966172.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", alt="image")
    
    .txt
        h2 First Name : 
            h4 Khouloud
        h2 Last Name : 
            h4 Baidi
        h2 Adress : 
            h4 Sabelet Ben Ammar Ariana
        h2 E-mail Adress :
            h4 khouloudbaidi@gmail.com
