.links {
    display: flex;
    justify-content: space-evenly;
    height: 20px;
    align-items: center;
    width: 50%;
    margin: 50px auto;
    padding: 3%;
    background-color:lemonchiffon ;
    border-radius: 50px;

}

.txt {
    padding: 6%;
    margin: auto;
    border-left: solid palevioletred;
    background-color: #9e9e9e2b;
    width: 50%;
    height: 70%;
    border-radius: 50px;
}

input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

